/* ヘッダーのcss */

header{
    width: 100%;
    padding: 30px 4% 10px;
    background-color: white;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

header nav{
    margin: 0 0 0 auto;
    
}

header ul {
    list-style: none;
    margin: 0;
    display: flex;
}

header h1 {
    text-decoration: none;
    color: #4b4b4b;
}

header ul li {
    margin: 0 0 0 15px;
    font-size: 14px;
}

